*{
    margin:0;
    padding:0;
    border:1px solid black;
    max-width:100%;
}

nav{
    padding: 2% 0;
}

nav a{
    display:inline-block;
    padding:1% 0;
    width: 10%;
    border-radius:10px;
    text-align: center;
    color: white;
    text-decoration: none;
}


.visit{
  background-color: #FF764E;
  margin-left: 10%;
}

.about{
  background-color: #5ED3EB;
  margin: 0 20%;

}

.involved{
  background-color: #FFCD69;
 margin-right:10%;
}

